@import 'tailwindcss';

:root {
  --bg: #060411;
  --panel: #26242b;

  --text: #e1dcee;
  --second: #aaa1c5;
  --muted: #504968;

  --primary-color: #6438c1;
  --primary-hover-color: #7a51d2;
  --secondary-color: #5d5682;
  --ghost-destructive-color: #26242b;
  --ghost-destructive-hover-color: #821919;

  --border: #1a0f40;

  --glow: rgba(10, 31, 64, 0.5);

  --transition-fast: 0.2s ease;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.4;
}

/* Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
